        <!-- Barra de navegacion-->
        <nav class="navbar navbar-expand-md navbar-dark barra scrolling-navbar fixed-top">
            <div class="container">
                <a class="navbar-brand logo" href="#"><b>MC Electricista</b></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                    <a class="nav-link" href="index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#contacto">Contacto</a>
                    </li>
                </ul>

                <!-- whatsapp -->
                <ul class="navbar-nav nav-flex-icons">
                    <li class="nav-item">
                        <a href="https://api.whatsapp.com/send?phone=543512002910" class="nav-link">
                            <i class="fab fa-whatsapp"></i>
                        </a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>

        <!-- IMG fondo inicio-->
    
        <section class="fondo jumbotron img-responsive">
            <h1 class="titulo_banner display-4">¿Necesitas una Habilitación?</h1>
            <p class="texto_banner lead">Comunicate con nosotros para coordinar una visita</p>
            <a class="btn btn-primary btn-lg" href="tel:+543512002910" role="button">Llamar</a>
            <a class="btn btn-primary btn-lg" href="https://api.whatsapp.com/send?phone=543512002910" role="button">whatsapp</a>
        </section>

        <header class="container grid_inicial ">
           <div class="row">
                <div class="col-sm text-center ">
                    <img src="img/relevamiento.png" class="img-responsive center-block">
                    <h5><b>RELEVAMIENTO</b></h5>
                    <p>En nuestro primer encuentro realizamos un relevamiento de las instalaciones y determinamos si son necesarias refacciones. Caso contrario, se emite directamente la Habilitación.</p>
                </div>
                <div class="col-sm text-center ">
                    <img src="img/refacciones.png" class="img-responsive center-block">
                    <h5><b>REFACCIONES</b></h5>
                    <p>Hacemos una lista de modificaciones a la instalación actual para que sea apta EPEC. Los arreglos pueden ser cotizados por nuestro personal o por su instalador electrico.</p>
                </div>
                <div class="col-sm text-center">
                    <img src="img/habilitacion.png" class="img-responsive center-block">
                    <h5><b>HABIILITACIÓN</b></h5>
                    <p>Cuando la instalación cumpla con los requisitos de la Ley de Seguridad Eléctrica 10.281, confeccionamos la Habilitación para solicitar el medidor ante la EPEC, Municipalidad o Bomberos.</p>
                </div>
           </div>
        </header>
        
        <div class="grid_jumbo">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h1 class="grid"><b>Somos electricistas habilitados categoría III</b></h1>
                </div>
                <div class="col text-center">
                <a class="btn btn-warning" href="ersep.html" role="button">Ersep</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="">
                <h1 class="titulo_habilitacion">¿Por qué hacer la Habilitación?</h1>
                <p class="texto_habilitacion">Al cumplir con los requisitos de la nueva Ley de Seguridad Electrica puede estar tranquilo de que cuenta con una instalación protegida y reduce al minimo los riesgos. Hacemos todo tipo de habilitaciones: viviendas familiares, edificios, locales comerciales e industriales.</p>
            </div>

            <div class="row row-cols-1 row-cols-md-2">
                <div class="col mb-4 ">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">EVITAR INCENDIOS</h5>
                      <p class="card-text">La principal causa de los incendios ocurre por un problema eléctrico. Por esto es necesario la correcta selección de protecciones y materiales..</p>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">PROTEGER A LAS PERSONAS</h5>
                      <p class="card-text">Al colocar un interruptor diferencial (Salvavita) y puesta a tierra se protege a las personas de las descargas eléctricas por contacto.</p>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">SELECTIVIDAD ANTE LA FALLA</h5>
                        <p class="card-text">Al estar diferenciados los circuitos se realiza mas rapida la identificación y el arreglo de una falla.</p>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">DURABILIDAD</h5>
                        <p class="card-text">Al encontrarse toda la instalación en correcto estado alarga la vida útil de la misma y se disminuyen futuros inconvenientes.</p>
                        </div>
                     </div>
                </div>
            </div>
            
            <div class="text-center precios">
                <h1>PRECIOS</h1>
                <P>Se detallan los valores de algunos trabajos – Dentro de la ciudad de Córdoba</P>
            </div>
            <div class="row container">
                <div class="card col-md mb-4" style="width: 18rem;">
                    <div class="boton">
                        <img src="img/house.png" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body container">
                    <h5 class="card-title">VISITA</h5>
                    <p class="card-text">A coordinar. Se realiza inspección visual y mediciones básicas. Se deja registro de las acciones correctivas necesarias. Este monto se toma como parte de pago si se realiza la habilitacion con nosotros.</p>
                    <div class="boton">
                        <a href="#" class="btn btn-primary">$600</a>
                    </div>
                    </div>
                </div>
                <div class="card col-md mb-4" style="width: 18rem;">
                    <div class="boton">
                        <img src="img/check.png" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                    <h5 class="card-title">HABILITACIÓN</h5>
                    <p class="card-text">Incluye una visita donde se confecciona un listado de correcciones necesarias. Un segundo encuentro cuando estén los trabajos finalizados. Entrega de certificado APTO.
                        Para dos ambientes.</p>
                    <div class="boton">
                        <a href="#contacto" class="btn btn-primary">$2000</a>
                    </div>
                    </div>
                </div>
                <div class="card col-md mb-4" style="width: 18rem;">
                    <div class="boton">
                        <img src="img/Comercio.png" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">EDIFICIOS Y LOCALES</h5>
                        <p class="card-text">Realizamos termografías, planos,  mediciones de puesta a tierra y todo lo necesario para la Habilitacion electrica de municipalidad, bomberos y ERSEP. Contactanos para realizar una visita y presupuesto.</p>
                        <div class="boton">
                            <a href="#" class="btn btn-primary">Consultar</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>


        <!-- Contacto -->
        <div id="contacto">
            
            <div class="banner_contact">
            <h1></h1>
            </div>
        </div>